<h1>Staffing Home Page</h1>

<div class="navigation">
    <ul>
        <li><button mat-button routerLink="/" >Home</button></li>
        <li><button mat-button routerLink="/login" >Login</button></li>
        <li><button mat-button routerLink="/employee" >Employee</button></li>
        <li><button mat-button routerLink="/customer" >Customer</button></li>
        <li><button mat-button routerLink="/job" >Job</button></li>
        <li><button mat-button routerLink="/assignment" >Assignment</button></li>
        <li><button mat-button routerLink="/transaction" >Transaction</button></li>
        <li><button mat-button routerLink="/invoice" >Invoice</button></li>
    </ul>
</div>
<br>
<br><br>
<router-outlet></router-outlet>