<h1 mat-dialog-title>{{action}} assignment</h1>

<div mat-dialog-content>
    <form [formGroup]='assignmentForm'>

        <mat-form-field class="full-width">
            <mat-label>Employee</mat-label>
            <mat-select formControlName="employeeId">
                <mat-option *ngFor="let e of employees" [value]="e.value">
                {{e.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        
        <mat-form-field class="full-width">
            <mat-label>Job</mat-label>
            <mat-select formControlName="jobId">
                <mat-option *ngFor="let j of jobs" [value]="j.value">
                {{j.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

       
        <mat-form-field class="full-width" *ngIf="action == 'Edit'">
            <mat-label>Status</mat-label>
            <mat-select formControlName="status">
                <mat-option *ngFor="let s of statuses" [value]="s.value">
                {{s.viewValue}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field  class="full-width" *ngIf="action == 'Edit'">
            <input matInput type="text" placeholder="HoursWorked" formControlName='hoursWorked' [(ngModel)]="assignment.hoursWorked">
        </mat-form-field>
     

    </form>
   
</div>
<div mat-dialog-actions>
    <button mat-button (click)='cancelClick()'>Cancel</button>
    <button mat-button (click)='submitForm()' [disabled]='!assignmentForm.valid'>{{action}}</button>
</div>
